 <h2>RESERVATIONS</h2>
   <div class="reservation">
   <div class="reservation-week_links">
   <div class="reservation-before_link">
   <% if params[:times].to_i != 1 %>
      <%= link_to "<-", reservate_path(params[:times].to_i-1) %>
     <% end %>
     </div>
      <div class="reservation-after_link">
     <%= link_to "->", reservate_path(params[:times].to_i+1) %>
     </div>
     </div>
   
 
   
   <table>
   <tr>
            <th>time</th>
            <th><%= @firstday %></th>
            <th><%= @firstday+1 %></th>
            <th><%= @firstday+2 %></th>
            <th><%= @firstday+3 %></th>
            <th><%= @firstday+4 %></th>
            <th><%= @firstday+5 %></th>
            <th><%= @firstday+6 %></th>
        </tr>
       <% Reservation::SCHEDULES.each do |s|%>

        <tr>
        
        <td><%= s.strftime("%H:%M") %></td>
        <% 7.times do |i| %>
      <%if  @reservations.find_by(schedule: "#{@firstday+i} #{s.strftime("%H:%M")}")==nil%>

 <td><%= link_to  "〇", reservate_form_path(year: (@firstday+i).year, month: (@firstday+i).month, day: (@firstday+i).day,  hour: s.hour, minute: s.minute)  %></td> 
   <%else%>
     <td>×</td> 
<%end%>
         
        <% end %>
        </tr>
         <% end %>
      
     

     </table>
   </div>