<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <%= stylesheet_link_tag "application" %>


  </head>

  <body>
    <div class="new-reservation">
      <div class="new-reservation_header">
        <%= image_tag  "/header-logo.jpg" %>
        <h2>予約日時</h2>
        <%=@datetime.strftime("%Y年%-m月%-d日 %-H:%M") + "~" %>
      </div>

      <div class="new-reservation_form">
        <%=form_for(@reservation) do |f| %>
        <div class="label">
          <%= f.label :name, "名前" %>
        </div>
        <div>
          <%= f.text_field :name, {class: "reservation-form_content"} %>
        </div>

        <div class="label">
          <%= f.label :phone, "電話番号" %>
        </div>
        <div>
          <%= f.text_field :phone, {class: "reservation-form_content"} %>
        </div>
        <div class="label">
          <%= f.label :email, "メールアドレス" %>
        </div>
        <div>
          <%= f.text_field :email, {class: "reservation-form_content"} %>
        </div>
        <div class="reservation_element">
          <div class="label">
            <%= f.label :number, "予約人数(4名以上は電話で予約)" %>

          </div>
          <div>
            <% options =[2,3]%>
            <%= f.select :number, options %>
          </div>
        </div>

        <div class="reservation_element">
          <div class="label">
            <%= f.label :menu, "メニュー" %>

          </div>
          <div>
            <% menus =["スタンダードコース","プレミアムコース"]%>
            <%= f.select :menu, menus %>
          </div>
        </div>

        <div class="reservation_element">
          <div class="label">
            <%= f.label :remarks, "備考欄" %>
            <div class="remarks-explain">
              <p>アニバーサリープレートご注文のお客様はプレートに記載するメッセージとイラストの内容をできるだけ具体的にご記入ください。また、アレルギーがある方は何なりとお申し付けください。</p>
            </div>
          </div>
          <div>

            <%= f.text_area :remarks, class: "reservation-form_content" %>
          </div>
        </div>

        <div class="cancel-policy">
          <h5>キャンセルポリシー</h5>
          <p>ご予約につき、下記のキャンセルポリシーを適用いたします。お振込みまたは直接来店にて徴収致します。</p>
          <ul class="cancel-policy_list">
            <li>前々日キャンセルの場合&nbsp;&nbsp;30% </li>
            <li>前日キャンセルの場合&nbsp;&nbsp;50% </li>
            <li>当日キャンセルの場合&nbsp;&nbsp;100% </li>
          </ul>
          <p>キャンセルポリシーに同意した方のみ同意するにチェックを入れご予約下さい。
          </p>
        </div>
        <div class="hidden_box">
          <label for="label1">同意する</label>
          <input type="checkbox" id="label1" />
          <div class="hidden_show">
            <!--非表示ここから-->
            <%= f.hidden_field :schedule, value: @datetime %>
            <%= f.submit "予約", class: "reservation-btn" %>
            <!--ここまで-->
          </div>
        </div>



        <!--ここまで-->


        <% end %>
      </div>


    </div>
    <script>
      $(function () {
        $(document).ready(function () {
          $('[type="checkbox"]').trigger('change')
        })
        $('#checkbox').on('change', '[type="checkbox"]', function () {
          var target = $(this).attr('target')
          var property = $(this).prop('checked')
          if (property) {
            $('#' + target).css('display', 'initial')
          } else {
            $('#' + target).css('display', 'none')
          }
        })
      })
    </script>
  </body>

</html>