<!DOCTYPE html>
<html>

  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description"
      content=" La fete de filles（ラ　フェット　ド　フィーユ)ではクレープやガレットが食べ放題で、ドリンクも飲み放題となっています。さらに、カレーやサラダなどのサイドメニューも自由におかわりすることができます。ラグジュアリーな空間でゆっくりとお洒落なクレープの食べ放題を満喫できます！" />
  </head>

  <body>
    <div class="new-question_answer">
      <h2>管理者Q&A画面</h2>


      <div class="question-answer_form">
        <%=form_for(@qa) do |f| %>
        <div class="form-question_content">
          <div>
            <%= f.label :question, "質問" %>
          </div>
          <div>
            <%= f.text_area :question %>
          </div>
        </div>

        <div class="form-answer_content">
          <div>
            <%= f.label :answer, "回答" %>
          </div>
          <div>
            <%= f.text_area :answer %>
          </div>
        </div>


        <div>
          <%= f.submit "投稿" %>
        </div>
        <% end %>
      </div>
    </div>
  </body>


</html>